<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			<% if message.include? "Way" %>
				body {background: red;}
			<% elsif message.include? "right" %>
				body {background: green;}
			<% else %>
				body {background: OrangeRed;}
			<% end %>
		</style>	
	</head>
	<body>
		<p>
			<%= message %>	
		</p>
		<p>
			<% if message == "You got it right!"%>
				The SECRET NUMBER is <%= number %>
			<% end %>
		</p>
		<form>
			<input type="text" name="guess" />
			<input type="submit" value="Guess!" />
		</form>
	</body>
</html>
